{% extends "base.html" %}

{% load tz %}
{% block content %}

<h1>All Employees</h1>

<table border=1>
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.first_name }} {{ employee.last_name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.position }}</td>
        </tr>
        {% endfor %}
    </tbody>    
</table>

{% endblock %}