{% extends "base.html" %}

{% load tz %}
{% block content %}

{% for team in teams %}
    <h3>Project Name</h3>
    {{ team.project.name }}
    <h3>Student Members</h3>
    {% for student in team.student_members.all %}
        <a href="{% url "user_profile" student.baseuser_ptr_id %}">
            <p>{{ student.last_name }}, {{ student.first_name }}</p>
        </a>
    {% endfor %}
    <h3>Employee Members</h3>
    {% for employee in team.employee_members.all %}
        <a href="{% url "user_profile" employee.baseuser_ptr_id %}">
            <p>{{ employee.last_name }}, {{ employee.first_name }}</p>
        </a>
    {% endfor %}
    <h3>Updates</h3>
    {% for update in team.updates %}

        <p>{{ update.subject }} {{ update.message }} <a href="{{ update.extra_info.url }}">{{ update.extra_info }}</a></p>
    {% empty %}
        <p>There are no updates</p>
    {% endfor %}

        <a href="{% url "add_update" team.project_id %}"> Add Update + </a> 
{% endfor %}

{% endblock %}