{% extends "base.html" %}

{% load tz %}
{% block content %}
<div id ="content-wrapper">
<table class = 'top-table'>  <colgroup><col width="75%"><col width="25%"> </colgroup> 
    <td> </td> <td><a href="{% url "add_project" %}"> + Add </a></td></table>
<table align = 'center',border=1>
    <colgroup>
    <col width="25%">
    <col width="25%">
    <col width="25%">
    <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Project Description</th>
             <th>School</th>
            <th>Project Team</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.proposal }}</td>
            <td>{{ project }}</td>
            <td>{{ project.team.student_members }}</td>
        </tr>
        {% endfor %}
    </tbody>    
</table>
</div>

{% endblock %}