{% extends "base.html" %}

{% load tz %}
{% block content %}

<h1 align = 'center'>All Schools</h1>

<table align="center",border=1>
    <thead>
        <tr>
            <th>School Name</th>
            <th>School Contact</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        {% for school in schools %}
        <tr>
            <td>{{ school.name }}</td>
            <td>{{ school.contact_first_name }} {{ school.contact_last_name }}</td>
            <td>{{ school.contact_email }}</td>
            <td>{{ school.contact_phone }}</td>
        </tr>
        {% endfor %}
    </tbody>    
</table>

{% endblock %}