{% extends "base.html" %}

{% load tz %}
{% block content %}

<div id ="content-wrapper">
<table class = 'top-table'>  <colgroup><col width="75%"><col width="25%"> </colgroup> 
    <td> <input type="text" id="filter" placeholder="Type to Search.."/> </td> 
    {% if perms.projectTracker.can_edit_employees %}
    <td><a href="{% url "add_school" %}"> + Add </a></td></table>
    {% endif %}
    
<table id="table" align="center",border=1>
    <colgroup>
    <col width="25%">
    <col width="25%">
    <col width="25%">
    <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th>School Name</th>
            <th>School Contact</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        {% for school in schools %}
        <tr>
            <td>{{ school.name }}</td>
            <td>{{ school.contact_first_name }} {{ school.contact_last_name }}</td>
            <td>{{ school.contact_email }}</td>
            <td>{{ school.contact_phone }}</td>
        </tr>
        {% endfor %}
    </tbody>    
</table>
</div>

<script>
 // Function
 function filterTable(value) {
     if (value != "") {
         $("#table td:contains-ci('" + value + "')").parent("tr").show();
     }
 }

 // jQuery expression for case-insensitive filter
 $.extend($.expr[":"], {
     "contains-ci": function (elem, i, match, array) {
         return (elem.textContent || elem.innerText || $(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
     }
 });

 // Event listener
 $('#filter').on('keyup', function () {
     if ($(this).val() == '') {
         $("#table tbody > tr").show();
     } else {
         $("#table > tbody > tr").hide();
         var filters = $(this).val().split(' ');
         filters.map(filterTable);
     }
 });
</script>

{% endblock %}