{% extends "base.html" %}

{% load tz %}
{% block content %}

<div id ="content-wrapper">
<table class = 'top-table'>  <colgroup><col width="75%"><col width="25%"> </colgroup> 
    <td> </td> <td><a href="{% url "add_school" %}"> + Add </a></td></table>
<table align="center",border=1>
    <colgroup>
    <col width="25%">
    <col width="25%">
    <col width="25%">
    <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th>School Name</th>
            <th>School Contact</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        {% for school in schools %}
        <tr>
            <td>{{ school.name }}</td>
            <td>{{ school.contact_first_name }} {{ school.contact_last_name }}</td>
            <td>{{ school.contact_email }}</td>
            <td>{{ school.contact_phone }}</td>
        </tr>
        {% endfor %}
    </tbody>    
</table>
</div>

{% endblock %}