{% extends "base.html" %}

{% load tz %}
{% block content %}

<h1 align = 'center'>All Students</h1>

<table align = 'center',border=1>
    <thead>
        <tr>
            <th>Student Name</th>
            <th>School</th>
            <th>Major</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.last_name }},{{ student.first_name }}</td>
            <td>{{ student.school.name }}</td>
            <td>{{ student.major }}</td>
        </tr>
        {% endfor %}
    </tbody>    
</table>

{% endblock %}