{% extends "base.html" %}

{% load tz %}
{% block content %}

<div id ="content-wrapper">
    
<table class = 'top-table'>  <colgroup><col width="75%"><col width="25%"> </colgroup> 
    <td> </td> <td><a href="{% url "add_employee" %}"> + Add </a></td></table>
<table align = 'center',border=1>
    <colgroup>
    <col width="25%">
    <col width="25%">
    <col width="25%">
    <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th>Student Name</th>
            <th>School</th>
            <th>Major</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.last_name }},{{ student.first_name }}</td>
            <td>{{ student.school.name }}</td>
            <td>{{ student.major }}</td>
        </tr>
        {% endfor %}
    </tbody>    
</table>
</div>
{% endblock %}