{% extends "base.html" %}

{% load tz %}
{% block content %}

<div id ="content-wrapper">
    
<table class = 'top-table'>  <colgroup><col width="75%"><col width="25%"> </colgroup> 
    <td> </td> 
    {% if perms.projectTracker.can_edit_students %} 
    <td><a href="{% url "add_student" %}"> + Add </a></td></table>
    {% endif %}
<table align = 'center',border=1>
    <colgroup>
    <col width="25%">
    <col width="25%">
    <col width="25%">
    <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th>Student Name</th>
            <th>School</th>
            <th>Major</th>
            <th>Gradutaion Date</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>
                <a href="{% url "user_profile" student.baseuser_ptr_id %}"/>
                    {{ student.last_name }}, {{ student.first_name }}</td>
            <td>{{ student.school.name }}</td>
            <td>{{ student.major }}</td>
            <td>{{ student.grad_semester }} {{ student.grad_year }}</td>
        </tr>
        {% endfor %}
    </tbody>    
</table>
</div>
{% endblock %}