{% extends "base.html" %}

{% load tz %}
{% block content %}
<div id ="content-wrapper">
<table class = 'top-table'>  <colgroup><col width="75%"><col width="25%"> </colgroup> 
    <td> </td> 
    {% if perms.projectTracker.can_edit_employees %}
    <td><a href="{% url "add_team" %}"> + Add </a></td></table>
    {% endif %}
<table align = 'center',border=1>
    <colgroup>
    <col width="25%">
    <col width="25%">
    <col width="25%">
    <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th>Project </th>
            <th>School</th>
            <th>Students</th>
            <th>Employee</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td>{{ team.project.name }}</td>
            <td>{{ team.school.name }}</td>
            <td>
                {% for stud in team.student_members.all %}
                {{ stud.first_name }} {{ stud.last_name }}
                <br>
                {% endfor %}
            </td>
            <td>
                {% for emp in team.employee_members.all %}
                {{ emp.first_name }} {{ emp.last_name }}
                <br>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>    
</table>
</div>

{% endblock %}