{% extends "base.html" %}

{% load tz %}
{% block content %}


{{ user.first_name }} 
</br>
{{ user.last_name }}
</br>
{{ user.email }}
</br>
{{ user.username }}
</br>
{{ user.phone }}

{% if perms.projectTracker.has_student_profile %}
</br>
{{ user.student.grad_semester }}
{{ user.student.grad_year }}
</br>
{% if user.student.personal_picture %}
	<img src="{{ user.student.personal_picture.url }}">
{% endif %}
</br>
{{ user.student.major }}
</br>
{{ user.student.school.name }}
{% endif %}

{% if perms.projectTracker.has_employee_profile %}
	{{ user.employee.position }}
	</br>
{% endif %}


{% endblock %}