{% load staticfiles %}
<!DOCTYPE html>
<html>

<head> 
	 <link rel="icon" href="aj_icon.ico" type="image/ico"/>
        <link href='{% static 'css/stylesheet.css' %}' rel='stylesheet' type='text/css' media='screen' />
        <link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Capital One Capstone</title>
</head>

<body class="news">
  <header>
      <div class='header'>
        <div id = 'logout'>
            <a href="{% url "user_profile" user.id %}"> My Profile </a> |
            <a href="{% url "logout_user" %}"> Logout </a></div>
    </div>
    <div class ='header'>
        <div id='logo_image'>
            <img src = "{% static 'img/capitalone-logo-white-small.png' %}"></br>
            <h1> Capstone Tracker </h1>
        </div>
    </div>
    <div class="nav">
      <ul>
        
        <li><a 
            {% url 'home_page' as home_url %}
            {% if request.get_full_path == home_url %} class="active" 
            {% endif %} href="{% url "home_page" %}">Home</a></li>

        {% if perms.projectTracker.can_view_students %}
        <li> <a 
            {% url 'student_list' as home_url %}
            {% if request.get_full_path == home_url %} class="active"
            {% endif %} href="{% url "student_list" %}"> Students </a></li>
        {% endif %}

        {% if perms.projectTracker.can_view_employees %}
        <li><a 
            {% url 'employee_list' as home_url %}
            {% if request.get_full_path == home_url %} class="active"
            {% endif %} 
            href="{% url "employee_list" %}"> Employees </a></li>
        {% endif %}

        {% if perms.projectTracker.can_view_schools %}
        <li><a 
            {% url 'school_list' as home_url %}
            {% if request.get_full_path == home_url %} class="active"
            {% endif %}  href="{% url "school_list" %}"> Schools</a></li>
        {% endif %}

        {% if perms.projectTracker.can_view_projects %}
        <li><a
            {% url 'project_list' as home_url %}
            {% if request.get_full_path == home_url %} class="active"
            {% endif %} href="{% url "project_list" %}"> Projects</a></li>
        {% endif %}

        {% if perms.projectTracker.can_view_teams %}
        <li><a
            {% url 'team_list' as home_url %}
            {% if request.get_full_path == home_url %} class="active"
            {% endif %} href="{% url "team_list" %}"> Teams</a></li>
        {% endif %}
      </ul>
    </div>
  </header>

	<div id='content'>
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>