{% load staticfiles %}
<!DOCTYPE html>
<html>

<head> 
	 <link rel="icon" href="aj_icon.ico" type="image/ico"/>
        <link href='{% static 'css/stylesheet.css' %}' rel='stylesheet' type='text/css' media='screen' />
        <link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Capital One Capstone</title>
</head>

<body>
	<div id = 'user_info'>
		<img src= '{% static 'img/filler_pic.png' %}'>Hello, Amanda 
	</div>
<!--
	<div id = 'navigation_menu'>
		<div id = 'menu_item'>
            <a href="{% url "project_list" %}"/> Projects 
        </div>
        <div id = 'menu_item'>
            <a href="{% url "student_list" %}"/> Students
        </div>
	</div>
-->

	 <div id='content'>
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>