{% load staticfiles %}
<!DOCTYPE html>
<html>

<head> 
	 <link rel="icon" href="aj_icon.ico" type="image/ico"/>
        <link href='{% static 'css/stylesheet.css' %}' rel='stylesheet' type='text/css' media='screen' />
        <link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Capital One Capstone</title>
</head>

<body class="news">
  <header>
      <div class='header'>
        <div id = 'logout'>
            <a href="{% url "user_profile" %}"> My Profile </a> |
            <a href="{% url "logout_user" %}"> Logout </a></div>
    </div>
    <div class ='header'>
        <div id='logo_image'>
            <img src = "{% static 'img/capitalone-logo-white-small.png' %}"></br>
            <h1> Capstone Tracker </h1>
        </div>
    </div>
    <div class="nav">
      <ul>
        <li><a class="active" href="{% url "home_page" %}">Home</a></li>
        <li> <a href="{% url "student_list" %}"> Students </a></li>
        <li><a href="{% url "employee_list" %}"> Employees </a></li>
        <li><a href="{% url "school_list" %}"> Schools</a></li>
        <li><a href="{% url "project_list" %}"> Projects</a></li>
      </ul>
    </div>
  </header>

	<div id='content'>
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>