{% load staticfiles %}
<!DOCTYPE html>
<html>

<head> 
     <link rel="icon" href="aj_icon.ico" type="image/ico"/>
        <link rel="stylesheet" href="../static/css/login-style.css"/>
        <link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Log In</title>
</head>

<body id="login_page">

<div id ="wrapper">
        <div id = "mini-wrapper">
                <img src = "../static/img/capitalone-logo-white.png">
                <h1> Capstone Tracker </h1>
                <div id = "register">

                </div>
        </div>

        <div id="container">
                {{ state }}
                <form  action="/login/" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="Username" id="username" name="username" value="{{ username }}">
                    <div>
                        <input type="password" placeholder="Password" id="password" name="password"></br>
                        
                    </div>
                    <div>
                        <input type="submit" value="Log In >" />
                    </div>
                </form>
        </div>
</div>

</body>
</html>
