{% load staticfiles %}
<!DOCTYPE html>
<html>

<head> 
     <link rel="icon" href="aj_icon.ico" type="image/ico"/>
        <link rel="stylesheet" href="../static/css/login-style.css"/>
        <link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Log In</title>
</head>

<body id="login_page">

<div id ="wrapper">
        <div id = "mini-wrapper">
                <img src = "../static/img/capitalone-logo-white.png">
                <h1> Capstone Tracker </h1>
                <div id = "register">
                </div>
        </div>
        <div id="container">
                {{ state }}
                <form  action="/login/" method="post">
                    {% csrf_token %}
                    <span style="float:left; padding-left:383px;">
                    <label class="labelClass" for="username">Username:</label>
                    <input type="text" id="username" name="username" value="{{ username }}">
                    <div id="lower">
                        <label class="labelClass" for="password">Password:</label>
                        <input type="password" id="password" name="password"></br>
                        <label id ='lower', class="labelClass" for="log_type">User Type:</label> <select id ='lower', name="login_t">
                            <option value="student">Student</option>
                            <option value="employee">Employee</option>
                        </select>
                    </div>
                    <div id="lower", align = 'center'>
                        <input type="submit" value="Log In" />
                    </div>
                    </span>
                </form>
        </div>
</div>

</body>
</html>
