
{% extends "base.html" %}
{% block content %}
<div id ="wrapper">
        <div id = "mini-wrapper">
                <img src = "../static/img/capitalone-logo-white.png">
                <h1> Capstone Tracker </h1>
                <div id = "register">
                </div>
        </div>
        <div id="container">
                <form>
                    <span style="float:left; padding-left:383px;">
                    <h3><font color="grey"><strong> Login </strong></font></h3>
                    <label class="labelClass" for="username">Username:</label>
                    <input type="text" id="username" name="username">
                    <div id="lower">
                        <label class="labelClass" for="password">Password:</label>
                        <input type="password" id="password" name="password"></br>
                        <label class="labelClass" for="log_typ">User Type:</label> <select name="login_t">
                            <option value="student">Student</option>
                            <option value="employee">Employee</option>
                        </select>
                    </div>
                    <div id="lower">
                        <input type="submit" value="Login">
                    </div>
                    </span>
                </form>
        </div>
</div>
<div id = "footer"><a href = "{% url "home_page" %}" class = "login"> Login </a> | <a href = "admin" class = "login" style = "padding-right: 10px"> Register </a>  </div>
{% endblock %}